<body class="home-body">
		
		<div class="container">
			<div class="row main-home-row">
				<h3 class="home-header">Want your favorite artists to come to town?</h1>
				<h4 class="home-descript"> You can be the one to make it happen.</p>
					<% if !user_signed_in? %>
						<%=link_to("Find out how", about_path, class:"btn button-find-out")%>
						<%=link_to("Get started here", new_view_registration_path, class:"btn button-get-started")%>
					<% elsif current_user.present? && current_user.venue.present? %>
						<%= link_to "Venue Page", venue_functions_path, class:"btn button-find-out" %>	
					<% elsif current_user.present? && current_user.bands.present? %>
						<% current_user.bands.each do |band| %>
							<%= link_to "Band Page", band_path(band.id), class:"btn button-find-out" %>
					<% end %>
                	<% else user_signed_in? %>
						<%= link_to('Functions', user_functions_path, class:"btn button-find-out") %>
                		<%= link_to('Account', update_profile_path, class:"btn button-find-out") %>
                	<% end %>
			</div>
			<div class="row bottom-row">
			<p class="home-body-text">	Does it seem like your favorite band never comes to your town? <br>They don't hate you. Someone needs to invite  them. <br>You can be the one to make it happen, <span class="heres-how"><%=link_to("here's how.", about_path)%></span></p>
			</div>
		</div>
</body>

