<div class="container">

	

		<%= link_to("Update Profile", update_profile_path, class:"btn update-button" ) %>
 		 <%= link_to("Request a concert", request_form_path, class:"btn request-button") %>

  
  <div class="row">
  	  <div class="col-sm-4">
			<h3> Active concerts </h3>
			<% current_user.requests.accepted.each do |request| %>
				<ul class="active-concert-list">
					<li class="accepted-artist"><%=  request.artist %></li>
					<li><img src="<%= request.picture %>" class="active-concert-pic"></li>
					<li>City: <%=  request.city  %></li>
					<li>Venue <%=	 request.venue.name %></li>
					<li>Date <%=  request.date.strftime("%-m-%-d-%Y") %> at</li>
					<li>Time: <%= request.time.strftime("%I:%M %p") %> </li>
					<li>Price $<%=  request.ticket_price %></li>
					<li>Tickets required: <%=  request.tickets_required  %> tickets required</li>
					<li>Date campaign ends: <%=  request.date_campaign_ends.strftime("%-m-%-d-%Y") %></li>
					<li>Description: <%=  request.description %></li>	
				</ul>
				<%= link_to("Mass email", concert_email_path(request.concert_id), class:"btn mass-email-button") %>
				<%= link_to("Concert page", show_share_path(request.concert_id), class:"btn show-concert") %>
				<button type="button" class="btn play-button" data-src="<%=request.song%>">Play</button>
			<% end %>
  	  </div>
	  <div class="col-sm-4">
		  <h3>Concerts awaiting approval </h3>
		  <% current_user.requests.replied.each do |request| %>
		  	<ul class="awaiting-approval-list">
		  		<li class="awaiting-approval-artist" > <%=  request.artist %></li>
		  		<li><img src="<%=request.picture %>" class="awaiting-approval-pic"></li>
				<li>City: <%=  request.city  %></li>
				<li>Venue: <%=	 request.venue.name %></li>
				<li>Date: <%=  request.date.strftime("%-m-%-d-%Y") %></li>
				<li>Time: <%=  request.time.strftime("%I:%M %p") %></li>
				<li>Price $<%=  request.ticket_price %></li>
				<li>Tickets required: <%=  request.tickets_required  %></li>
				<li>Date campaign ends: <%=  request.date_campaign_ends.strftime("%-m-%-d-%Y") %></li>
				<li>Description: <%=  request.description %></li>	
				<li>
				<%= link_to("Accept", accept_path(request.id), method: :post, class:"btn btn-success"  ) %>
				<%= link_to('Cancel', decline_path(request.id), method: :post, class:"btn btn-danger") %>
				<button type="button" class="btn play-button" data-src="<%=request.song%>">Play</button>
			    </li>
			</ul>
		  <% end %>
	  </div>
  </div>
</div>












</div>
