<div class="container">

	

		<%= link_to("Update Profile", update_profile_path, class:"btn update-button" ) %>
 		  <%= link_to("Start a campaign", survey_path, class:"btn request-button") %>


  
  <div class="row">
  	  <div class="col-sm-4">
			<h3> Concerts seeking funding </h3>
			<% current_user.requests.funding.each do |request| %>
				<ul class="active-concert-list">
					<li class="accepted-artist"><%=  request.artist %></li>
					<li><img src="<%= request.picture %>" class="active-concert-pic"></li>
					<li>City: <%=  request.city  %></li>
					<li>Venue <%=	 request.venue.name %></li>
					<li>Date <%=  request.date.strftime("%-m-%-d-%Y") %> at</li>
					<li>Time: <%= request.time.strftime("%I:%M %p") %> </li>
					<li>Price $<%=  request.ticket_price %></li>
					<li>Tickets required: <%=  request.tickets_required  %> tickets required</li>
					<li>Date campaign ends: <%=  request.date_campaign_ends.strftime("%-m-%-d-%Y") %></li>
					<li>Description: <%=  request.description %></li>	
					<li>
						<%= link_to("Mass email", concert_email_path(request.id), class:"btn mass-email-button") %>
						<%= link_to("Concert page", show_share_path(request.id), class:"btn show-concert") %>
						<button type="button" class="btn play-button" data-src="<%=request.song%>">Play</button>
					</li>
				</ul>
			<% end %>
  	  </div>
	  <div class="col-sm-4">
		  <h3>Concerts seeking support </h3>
		  <% current_user.requests.survey.each do |request| %>
		  	<ul class="awaiting-approval-list">
		  		<li class="awaiting-approval-artist" > <%=  request.artist %></li>
		  		<li><img src="<%=request.picture %>" class="awaiting-approval-pic"></li>
				<li>City: <%=  request.city  %></li>
				<li>Venue: <%=	 request.venue.name %></li>
				<li>Price: $<%=  request.ticket_price %></li>
				<li>Tickets required: <%=  request.tickets_required  %></li>
				<li>Description: <%=  request.description %></li>	
				<li>
				<%= link_to("Concert page", request_share_path(request.id),  class:"btn btn-success"  ) %>
				<button type="button" class="btn play-button" data-src="<%=request.song%>">Play</button>
			    </li>
			</ul>
		  <% end %>
	  </div>
  </div>
</div>












</div>
