<h2 class="survey-artist-name"><%= @request.artist %></h2>

<ul class="survey-page-list">
	<li><img src="<%= @request.picture %>" class="active-concert-pic"></li>
	<li><button type="button" class="btn play-button" data-src="<%= @request.song%>">Play</button></li>
	<li>Venue:<%= @request.venue.name %></li>
	<li>City: <%= @request.city %></li>
	<li>Description: <%= @request.description %></li>
	<li>Supporters needed: <%= @request.goal %></li>
</ul>




<%= form_tag(support_request_path) do %>

	
<form class="form-inline">
<div class="form-group">
<label for="email">Email</label> 
<input type="email" class="form-control" name="email">
</div>
	

<div> <%= submit_tag 'Support!', class:"btn btn-success" %> </div>
<% end %>