
<h5 class="return-description">
	<img src="<%= artist_getinfo(@request.artist)['image'][2]['#text'] %>">
Artist: <%=  @request.artist %>
<br>City: <%=  @request.city  %>
<br>Date request: <%=  @request.date %>
<br>Description: <%   @request.description %>
</h3>


<%= bootstrap_form_for @request do |f| %>

	
	
	<%= f.date_field :date %>

	<%= f.time_field :time %>

	<%= f.text_field :ticket_price %>

	<%= f.text_field :tickets_required %>

	<%= f.date_field :date_campaign_ends %>

	<%= f.submit 'Send Concert' %>
<% end %>