

<% if @request.status = "funding" %>
	<p class="artist-p"><%=  @request.artist %></p>
	<div class="col-sm-6">
		<img src="<%= @request.picture %>"  alt="" class="new-concert-pic">
		
	</div>
	<div class="col-sm-5">
		<ul class="request-info">
			<li>Location: <%= @request.city  %> </li> 
			<li>Venue: <%= @request.venue.name %></li>
			<li> Date: <%=  @request.date.strftime("%-m-%-d-%Y") %></li>
			<li> <%= @request.time.strftime("%I:%M %p") %> </li>
			<li> Price: $<%=  @request.ticket_price %></li>
			<li> Tickets required to fund: <%= @request.tickets_required  %></li>
			<li> Date campaign ends: <%= @request.date_campaign_ends.strftime("%-m-%-d-%Y") %> </li>
			<li>Description: <%=  @request.description %><li>
			<li><%= link_to("Buy a ticket", buy_ticket_path(@request.id), method: :post, class:"btn btn-success" ) %>
			<button type="button" class="btn play-button" data-src="<%=@request.song%>">Play</button></li>
		</ul>
	</div>
	
<% end %>