

<% if @concert.status = "in_progress" %>
	<p class="artist-p"><%=  @concert.artist %></p>
	<div class="col-sm-8">
		<img src="<%= @artist['image'][4]['#text'] %>" alt="">
		
	</div>
	<div class="col-sm-3">
		<ul class="concert-info">
			<li>Location: <%= @concert.city  %> </li> 
			<li>Venue: <%= @concert.venue.name %></li>
			<li> Date: <%=  @concert.date.strftime("%-m-%-d-%Y") %></li>
			 <li> <%= @concert.time %> </li>
			<li> Price: $<%=  @concert.ticket_price %></li>

			<li> Tickets required to fund: <%= @concert.tickets_required  %></li>
			<li> Date campaign ends:<%= @concert.date_campaign_ends.strftime("%-m-%-d-%Y") %> </li>
			<li>Description: <%=  @concert.description %><li>
			<li><%= link_to("Buy a ticket", buy_ticket_path(@concert.id), method: :post, class:"btn btn-success" ) %>
			<button type="button" class="btn play-button">Play</button></li>
		</ul>
	</div>
	
	<audio class="js-player" src="<%=artist_playtrack(@concert.city)%>">
	
<% end %>